<%- model_class = Message -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-hover">

  <tbody>
  <% @messages.each do |message| %>

      <tr>
        <%= link_to(message_path(message), :method => :delete, data: { confirm: 'Are you sure?' }) do %>
        <td>
          <strong> <%= message.sender %></strong>
          <span class="pull-right"> <small><%= message.created_at.strftime("%m/%d/%Y %H:%M ") %></small></span><br>
          <%= message.message %>
        </td>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
  <i class="fa fa-paper-plane pull-left"></i>
  <span class="visible-lg visible-md pull-right">Send</span>
</button>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Message</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
