<!DOCTYPE html>
<html>
<head>
  <title>WebClient</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container">
  <div class="navbar-header pull-left">
    <% if logged_in?%>
    <%= link_to "End2End", messages_path, class: "navbar-brand" %>
    <% else %>
    <a class="navbar-brand">End2End</a>
    <% end %>
  </div>
  <div class="navbar-header pull-right">
    <% if logged_in?%>
    <ul class="nav navbar-nav navbar-right">_
          <li data-toggle="tooltip" data-placement="left" title="Messages">
            <%= link_to messages_path do %>
                <i class="fa fa-envelope"></i>
                <span class="visible-lg visible-md pull-right"> Messages</span>
            <% end %>
          </li>
    </ul>
    <% else %>
        <%= form_for(:session, url: login_path, html: {class: "navbar-form navbar-right"}) do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control', placeholder: :name %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, class: 'form-control', placeholder: :password %>
            </div>


            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
    <% end %>

  </div>
  </div>
</nav>
<div>
  <iframe src="https://www.youtube.com/embed/rpWrtXyEAN0?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>
</div>

<section class="container">
    <%= yield %>
</section>

<footer class="footer ">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in?%>
          <li data-toggle="tooltip" data-placement="left" title="Logout <%= current_user.name %>">
            <%= link_to logout_path, method: :delete do %>
            <i class="fa fa-user"></i>
            <span class="visible-lg visible-md pull-right"> <%= current_user.name %></span>
            <% end %>
          </li>
      <% end %>
      </ul>
  </div>
</footer>
</body>
</html>
